# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json
android/app/*.keystore
android/app/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/
macos/.symlinks/

# Web
web/

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo
*~